.footer {
  width: 100%;
  padding: var(--space-xl) 0 var(--space-lg);
  background: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-md);

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left {
  font-size: 0.8rem;
  color: var(--color-text-subtle);
  line-height: 1.4;
}

.right {
  display: flex;
  gap: var(--space-md);
  font-size: 1.4rem;
}

.right a:hover {
  opacity: 0.7;
}
