.wrap {
  padding: 0 var(--space-md);
}

.inner {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--space-lg) 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  text-align: center;
}

.inner p {
  font-size: 1.3rem;
  font-style: italic;
  opacity: 0.9;
}
